<!DOCTYPE html>
<html>

  {% include head.html %}

  <body style="height: 100%; margin: 0;">

    {% include header.html %}

    <div class="page-content" style="height: calc(100vh - 200px);"> <!-- Adjust 50px according to your header's height -->
      <iframe src="{{ page.pdf }}" style="width: 100%; height: 100%; border: none;"></iframe>
    </div>

    {% include footer.html %}

  </body>

</html>
